<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<% for(var i = 0;i<688;i++){ %>
*<%=areas[i]%>&emsp;
*<%=dangerDegree[i]%><br>
<%}%>
</body>
</html>